.group-page {
    display: flex;
    height: 100vh;
    background-color: #ccc;
  }
  
  .left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    background-color: #ccc;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .back-button {
    /* 뒤로가기 버튼 스타일 */
  }
  
  .group-search {
    color: #41ADCA;
    margin-left: 10px;
  }
  
  .search-box {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .search-editor {
    flex: 1;
    border: none;
    outline: none;
  }
  
  .search-icon {
    margin-left: 10px;
  }
  
  .hashtags {
    display: flex;
    margin-top: 10px;
  }
  
  .hashtag {
    /* 해시태그 스타일 */
  }
  
  .group-list {
    background-color: white;
    margin-top: 20px;
    overflow-y: auto;
    padding: 30px;
    border-radius: 25px;
  }

  .group-item {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    border-bottom: 1.5px solid #ccc; /* 구분선 추가 */
  }
  
  .group-item:last-child {
    border-bottom: none; /* 마지막 항목의 구분선 제거 */
  }
  
  .group-name {
    /* 그룹명 스타일 */
    font-family: 'Noto Sans Kr';
    font-weight: bold;
    color: #41ADCA;
    font-size: 20pt;
  }
  
  .group-members {
    /* 그룹멤버수 스타일 */
    font-family: 'Noto Sans Kr';
    font-weight: bold;
    color: #A0D6E5;
    font-size: 20pt;
  }
  
  .group-info {
    color: #D06B74;
    margin-bottom: 20px;
  }
  
  .group-name {
    font-size: 24px;
  }
  
  .member-count {
    font-size: 18px;
  }
  
  .group-details {
    background-color: white;
    padding: 20px;
  }
  
  .join-button {
    float: right;
    /* 참가버튼 스타일 */
  }
  
