.signup-container {
    margin-top: 100px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #4cae4c;
  }
  
  .policy-container {
    margin-top: 20px;
  }
  
  .policy-box {
    height: 150px; /* 원하는 높이 설정 */
    overflow-y: scroll; /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }