
.info-card {
    flex: 1 1 360px;
    padding: 20px;
    color: #8F2BCC; /* 글자 색상을 흰색으로 변경 */
    /* background-color: ; 배경색을 보라색으로 변경 */
    font-weight: bold; /* 글자를 볼드체로 변경 */
    padding-right: 90px;
}
.info-card h2{
    font-size: 44px;
    font-weight: 900;
    background: linear-gradient(to left, #E492F8, #b144f5); /* 그라데이션 배경 적용 */
    color: #ffffff;
    border-radius: 35px;
}

.info-card p{
    font-weight: 900;
    font-size: 20px;

}
body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px; /* max-width를 더 크게 설정 */
    width: 100%;
}


.login-card {
    flex: 1 1 360px;
    padding: 40px; /* 패딩을 늘려서 여백을 더 크게 설정 */
    color: white; /* 글자 색상을 흰색으로 변경 */
    background: linear-gradient(to right, #125BDC, #36B0EF); /* 배경색을 그라데이션 파란색으로 유지 */
    border-radius: 30px;
    
}

.login-card input {
    margin: 15px 0; /* 마진을 늘려서 입력 필드 주위의 여백을 더 크게 설정 */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

.login-card button {
    margin: 15px 0; /* 마진을 늘려서 버튼 주위의 여백을 더 크게 설정 */
    padding: 10px;
    width: auto;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2.5px solid white;
    background: linear-gradient(to Bottom, #35ACEF, #008CBA);
    color: white;
    font-weight: 900;
}

.login-card .button-container {
    display: flex;
    justify-content: flex-start; /* 좌측 정렬 */
    gap: 10px; /* 버튼 간격 설정 */
}

/* @media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
} */
.transparent-box {
    background-color: rgba(255, 255, 255, 0.35); /* White background with 50% opacity */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Some padding */
    margin-bottom: 20px; /* Bottom margin */
  }
  .right-aligned {
    text-align: right;
    font-size: 50px;
    font-family: 'Lexend Zetta', sans-serif;
  }
  
  .login-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .signup-button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
